<form class="example-form">
  <div class="search-container">
    <input type="text" 
           id="search" 
           [formControl]="myControl" 
           class="search-input" 
           placeholder="Search for a company"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option class = "dropdown"  
                    (click)="stockDetails(option)">
          <div style="display: flex;flex-direction: column;">
            <strong>{{option.name_of_company}}</strong>
            {{option.symbol}}
          </div>
        </mat-option>
      }
    </mat-autocomplete>
  </div>
</form>
<mat-tab-group animationDuration="1000ms">
  <mat-tab label="Ratios">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title><h1>{{stockData?.name_of_company}}</h1></mat-card-title>
          <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-actions>
            <div class="company-ratios">
              <ul class="top-ratios">
                <li *ngFor="let ratio of stockDetailsData?.data?.company_ratios">
                  <strong>{{ratio.ratio_name}}:</strong> {{ratio.ratio_value}} </li>
              </ul>
            </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Rating">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div>
            <h1>Title</h1>
            <div class="company-ratios">
              <ul class="top-ratios">
                <!-- {{stockDetailsData}} -->
                <li *ngFor="let ratio of stockDetailsData?.data"><strong>{{ratio}}</strong></li>
                <!-- <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li> -->
              </ul>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div>
            <h1>Title</h1>
            <div class="company-ratios">
              <ul class="top-ratios">
                <!-- {{stockDetailsData}} -->
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
              </ul>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  
</mat-tab-group>