<form class="example-form">
  <div class="search-container">
    <input type="text" 
           id="search" 
           [formControl]="myControl" 
           class="search-input" 
           placeholder="Search for a company"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option" (click)="stockDetails()">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </div>
</form>
<mat-tab-group animationDuration="1000ms">
  <mat-tab label="Ratios">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div>   
            <h1>Title</h1>
            <div class="company-ratios">
              <ul class="top-ratios">
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
              </ul>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Rating">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div>   
            <h1>Title</h1>
            <div class="company-ratios">
              <ul class="top-ratios">
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
                <li><strong>First Name:</strong> Sumeet </li>
                <li><strong>Middle Name:</strong> Vitthal </li>
                <li><strong>Last Name :</strong> Rathod </li>
              </ul>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>