<input type="text" [(ngModel)]="inputValue" (input)="onInputChange()" placeholder="Enter 'buy' or 'sell'"/>
<table class="main">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date & Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tableData">
            <td>{{ row.name }}</td>
            <td>{{ row.name }}</td>
            <td>
                <button [disabled]="!canBuy" class="buy-button" role="button">Buy</button>
                <button [disabled]="!canSell" class="sell-button" role="button">Sell</button>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
